@font-face {
  font-family: 'Lorin';
  src: url(/fonts/Lorin-Regular.ttf);
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url(/fonts/Brandon-Grotesque-Light.otf);
}

:root {
  /* font size */
  --fs-sm: clamp(0.83rem, calc(0.78rem + 0.26vw), 0.97rem);
  --fs-md: clamp(1.00rem, calc(0.86rem + 0.71vw), 1.38rem);
  --fs-lg: clamp(1.44rem, calc(0.95rem + 2.46vw), 2.75rem);
  --fs-xl: clamp(1.73rem, calc(0.92rem + 4.06vw), 3.89rem);
  --fs-xxl: clamp(1.87rem, calc(1.2rem + 4.12vw), 4rem);
  /* colors */
  --clr-body: rgba(48, 61, 83, .7);
  --clr-head: #283249;
  --clr-bg: #f6f9fc;
  --clr-primary: #0084b4;
  --clr-secondary: #1dcaff;
  --clr-tertiary: #c0deed;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--clr-primary);
}

::-webkit-scrollbar-track {
  background: #f4f4f4;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

body {
  font-family: 'Lorin', sans-serif;
  font-size: var(--fs-md);
  color: var(--clr-body);
  line-height: 1.2;
}

img {
  max-width: 100%;
}

h2 {
  font-weight: 700;
  font-size: var(--fs-lg);
  color: var(--clr-head);
}

a {
  color: var(--clr-tertiary);
}

a:hover {
  color: var(--clr-primary);
}

header .wrapper,
footer .wrapper,
section>.wrapper {
  width: 1170px;
  max-width: 100%;
  padding-inline: var(--fs-md);
  margin-inline: auto;
}

header .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
}

@media screen and (min-width: 767px) {
  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .column:where(.astro-SHWXRD6L).image picture:where(.astro-SHWXRD6L) {
    margin-top: 8%;
  }
}

@media screen and (max-height: 640px) {
  div .column:where(.astro-SHWXRD6L) {
    padding-top: 8%;
  }

  div .column:where(.astro-E5LPO3VL) {
    padding-top: 8%;
  }
}

.column {
  flex: 1;
  ;
}

.social {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-inline: 0;
  padding-inline: 0;
}

.social a:not(:hover) img {
  filter: grayscale();
}

/* utility */
.fs-s {
  font-size: .5em;
}

.tt-uc {
  text-transform: uppercase;
}

.clr-n {
  color: var(--clr-body);
}

.clr-p {
  color: var(--clr-primary);
}

.button {
  background: linear-gradient(21deg, var(--clr-primary), var(--clr-secondary));
  display: inline-block;
  padding: 1em;
  border-radius: .5em;
  color: #fff;
  text-decoration: none;
  transform: scale(1);
  transition: .2s;
}

.button:hover {
  transform: scale(1.05);
  color: #fff;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 120px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* The Close Button */
.close {
  position: sticky;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

button {
  background: transparent;
  border: 0px;
}

/* button two */

@media screen and (min-width: 900px) {
  .button-two {
    display: none;
  }
}

.button-two {
  --button-color: #0084b4;
}

.button-two[data-state="closed"] :is(.top, .bottom) {
  animation: to-open-icon 1s forwards;
}

.button-two[data-state="opened"] :is(.top, .bottom) {
  animation: to-close-icon 1s forwards;
}

.button-two .hamburger {
  transition: rotate 800ms 100ms;
}

.button-two[data-state="opened"] .hamburger {
  rotate: 1turn;
}

.button-two .line.top {
  --rotation: -45deg;
  transform-origin: 65px 45px;
}

.button-two .line.bottom {
  --rotation: 45deg;
  transform-origin: 60px 55px;
}

@keyframes to-close-icon {
  0% {
    stroke-dashoffset: 0;
  }

  40% {
    stroke-dashoffset: 79.9;
  }

  60% {
    stroke-dashoffset: 79.9;
    rotate: calc(var(--rotation));
  }

  100% {
    stroke-dashoffset: 0;
    rotate: var(--rotation);
  }
}

@keyframes to-open-icon {
  0% {
    stroke-dashoffset: 0;
    rotate: var(--rotation);
  }

  40% {
    stroke-dashoffset: 79.9;
    rotate: var(--rotation);
  }

  60% {
    stroke-dashoffset: 79.9;
  }

  100% {
    stroke-dashoffset: 0;
  }
}